* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* body {
    padding: 10px;
} */

.inputSearch {
    width: 500px;
    margin: 0 auto;
    /* text-align: center; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#img-search {
    width: 560px;
    height: 40px;
    font-size: 20px;
    /* padding： */
    text-align: center;
}


/* #img-search:focus #go {
    border: 1px solid #38f;
} */

#go {
    /* style: none; */
    /* margin-left: 10px; */
    display: inline-block;
    width: 60px;
    height: 40px;
    background-color: #38f;
    border: 1px solid #38f;
    /* padding: 5px; */
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}